:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #1f2933;
  background-color: #f0f4f8;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}
